//
//  Firebase.xcconfig
//  Firebase
//
//  Created by jbrooks on 3/7/16.
//  Copyright © 2016 jbrooks. All rights reserved.
//

LIBRARY_SEARCH_PATHS = $(inherited) "${SRCROOT}/Firebase"
HEADER_SEARCH_PATHS = $(inherited) "${SRCROOT}/Firebase"

OTHER_LDFLAGS = $(inherited) -ObjC -l"c++" -l"icucore" -l"sqlite3" -l"z" -framework "AdSupport" -framework "AddressBook" -framework "CFNetwork" -framework "CoreGraphics" -framework "FirebaseAnalytics" -framework "FirebaseAuth" -framework "FirebaseDatabase" -framework "FirebaseInstanceID" -framework "GoogleInterchangeUtilities" -framework "GoogleNetworkingUtilities" -framework "GoogleSymbolUtilities" -framework "GoogleUtilities" -framework "Security" -framework "StoreKit" -framework "SystemConfiguration"
